.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  &__loading-msg {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

.central__content {
  display: flex;
  min-height: 740px;
}
