@mixin small-text() {
  font:  {
    family: 'Roboto', sans-serif;
    size: 12px;
    weight: normal;
  };
  line-height: 12px;
}

@mixin regular-text() {
  font:  {
    family: 'Roboto', sans-serif;
    size: 22px;
    weight: 500;
  };
  line-height: 34px;
}

@mixin bold-text() {
  font:  {
    family: 'Roboto', sans-serif;
    size: 30px;
    weight: bold;
  };
  line-height: 30px;
}
