@import "fonts";

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__heart {
    width: 32px;
    height: 32px;
  }

  &__timer {
    @include bold-text;
    font-size: 60px;
    margin-top: 25px;

    &.game__timer--flashing,
    &.game__timer--timeup {  color: #df4e4e;  }

    &.game__timer--flashing {  animation: flash 1s infinite;  }

    &.game__timer--timeup {  transform: scale(1.45);  }
  }

  &__lives {
    position: absolute;
    top: 20px;
    right: 0;
  }

  &__task {
    font-size: 22px;
    line-height: 35px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    position: relative;
    border: 10px solid transparent;
    width: 468px;
    height: 458px;
    font-size: 0;
    background: url("../img/spinner.svg") 50% 50% no-repeat; // quick solution to show spinner without AJAX request for image

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
    }

    input {
      display: none;

      &:disabled:not(:checked) {
        + label {
          opacity: .5;
          cursor: not-allowed;
        }

        + label:hover {  background-color: rgba(0, 0, 0, .5);  }
      }

      &:checked + label {  background-color: #df4e4e;  }
    }
  }

  &__answer {
    position: absolute;
    bottom: 30px;
    width: 78px;
    height: 78px;
    border-radius: 70px;
    font-size: 0;
    background: rgba(0, 0, 0, .5) no-repeat center;
    cursor: pointer;

    &:hover {  background-color: #000;  }

    &--photo {
      left: 30px;
      background-image: url("../img/photo_big.png");
    }

    &--paint {
      right: 30px;
      background-image: url("../img/paint_big.png");
    }
  }
}

.game__content--wide {

  .game__option {
    width: 705px;
    height: 455px;
  }

  .game__answer {
    top: 208px;
  }

  .game__answer--photo {
    left: -100px
  }

  .game__answer--paint {
    right: -100px;
  }
}

.game__content--triple .game__option {
  width: 304px;
  height: 455px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;  right: 0;  bottom: 0;  left: 0;
  }

  &:hover {  border-color: #df4e4e;  }

  &:active::after {  background-color: rgba(223, 78, 78, 0.4);  }
}
