@import "colors";

.intro {
  position: relative;
  width: 800px;
  height: 740px;
  background: url("../img/egg_big.png") no-repeat center;
  background-size: contain;
  animation: fadeIn .5s ease-out;
}

.intro__asterisk {
  position: relative;
  top: 220px;
  left: 30px;
  text-align: center;
  font-size: 0;
  color: $main-red-color;
  // cursor: pointer;
  cursor: wait;

  &::before,
  &::after {  position: absolute;  }

  &::before {
    content: "*";
    top: 95px;
    left: 362px;
    font-size: 172px;
    animation: spin 1.05s linear infinite;
    transform-origin: 51% -28%;
  }

  &::after {
    content: "Загрузка…";
    font-size: 28px;
    bottom: -145px;
    left: 337px;
    text-shadow: -1px 0 3px #eddaa3;
  }

  // &:hover {
  //   color: $link-hover-color;
  // }
  //
  // &:active {
  //   color: $link-active-color;
  // }
}

.intro__motto {
  font-size: 18px;

  position: absolute;
  bottom: 0;
}
